In [76]:
1+1

2

In [77]:
10-1

9

In [78]:
978*87

85086

In [79]:
7/4

1.75

'%' / aka mod means having showing the remainder after division

In [80]:
7%4

3

power of a certain number use " ** "

In [81]:
2**3

8

In [82]:
a = 5

In [83]:
a

5

In [84]:
type(a)

int

In [85]:
myincome = 100
tax_rate = 0.1
taxes = myincome * tax_rate
taxes

10.0

In [86]:
"hello"

'hello'

In [87]:
'world'

'world'

In [88]:
" I'm going home "

" I'm going home "

In [89]:
print('hello \tworld')

hello 	world

In [90]:
print('hello \nworld')

hello
world

'len' tells you the number of letters in the string

In [91]:
len('yo bro')

6

In [92]:
mystring = 'hello world'
mystring

'hello world'

In [93]:
mystring[-1]

'd'

In [94]:
mystring = 'abcdefghijklmn'
mystring[2:]

'cdefghijklmn'

[:3] goes up to the number but not including

In [95]:
mystring[:3]

'abc'

In [96]:
mystring[6:9]

'ghi'

[start:stop:step size] step means skipping a letter/number

In [97]:
mystring[::3]

'adgjm'

In [98]:
name = 'Sam Tan'
last_letter = name[1:4]
last_letter

'am '

In [99]:
'p' + last_letter

'pam '

In [100]:
name.lower()

'sam tan'

In [101]:
name.split('a')

['S', 'm T', 'n']

In [102]:
print("hello " + name + "!!")

hello Sam Tan!!

'{}'.format allows u to enter whatever you want into the {}

In [103]:
print('this is a string {}'.format('inserted'))

this is a string inserted

In [104]:
print('The {1} {2} {0}'.format('meow', 'cat', 'quickly'))

The cat quickly meow

In [105]:
print('The {c} {q} {m}'.format(m='meow',c = 'cat', q = 'quickly'))

The cat quickly meow

In [106]:
result = 100/322

In [107]:
result

0.3105590062111801

In [108]:
print('the results were {r:4f}'.format(r = result))

the results were 0.310559

In [109]:
print(f'the results were {result:1.3f}')

the results were 0.311

In [110]:
name = 'tommy'
age = 4
print(f'{name} is {age} years old.')

tommy is 4 years old.

In [111]:
my_list = ['one', 'two', 'three']
my_list [1:]

['two', 'three']

In [112]:
another_list = ['four', 'five']

In [113]:
new_list = my_list + another_list
new_list

['one', 'two', 'three', 'four', 'five']

In [114]:
new_list[0] = 'one ALL CAPS'
new_list

['one ALL CAPS', 'two', 'three', 'four', 'five']

append allows u to add an additional item behind the list

In [115]:
new_list.append('six')

In [116]:
new_list

['one ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [117]:
popped_item = new_list.pop()

In [118]:
popped_item

'six'

In [119]:
alpha_list = ['a', 'g', 'w', 'b', 'c']

In [120]:
alpha_list.sort()

In [121]:
alpha_list

['a', 'b', 'c', 'g', 'w']

u have to allow the code alpha_list.sort() to run first before u can assign it to another variable
eg. alpha_list.sort() then alpha_sorted_list = alpha_list

In [122]:
my_dict = {'key1':'key2'}

In [123]:
my_dict

{'key1': 'key2'}

In [124]:
my_dict['key1']

'key2'

In [125]:
prices_lookup = {'apple':2.99, 'orange':3, 'pear':1.99}

In [126]:
prices_lookup['apple']

2.99

In [127]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'insidekey':100}}

In [128]:
d['k3']['insidekey']

100

In [129]:
d['k2']

[0, 1, 2]

In [130]:
d['k2'][2]

2

In [131]:
d['k4'] = 100

In [132]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}, 'k4': 100}

In [133]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [134]:
d.values()

dict_values([123, [0, 1, 2], {'insidekey': 100}, 100])

In [135]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'insidekey': 100}), ('k4', 100)])

In [136]:
t = (1,2,3)

In [137]:
my_lsit = [1,2,3]

In [138]:
type(t)

tuple

In [139]:
type(my_list)

list

In [140]:
t = ('a', 'a', 'b')

In [141]:
t.count('a')

2

In [142]:
t.index('a')

0

In [143]:
my_list

['one', 'two', 'three']

tuples are immutable, cannot reassign once u set it

tuples uses () instead of []

In [144]:
myset = set()

In [145]:
myset.add(1)

In [147]:
myset

{1}

In [150]:
myset.add(2)

In [151]:
myset

{1, 2, 4}

In [152]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4]

In [153]:
set(mylist)

{1, 2, 3, 4}

In [154]:
mylist.count(1)

5

In [155]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [156]:
1>2

False

In [157]:
1>1

False

In [158]:
pwd

'C:\\Users\\geral\\My Python Notes'

In [164]:
%%writefile myfile.txt
Hello this is a text file
2nd line
3rd line

Overwriting myfile.txt

In [165]:
myfile = open('myfile.txt')

In [166]:
myfile.read()

'Hello this is a text file\n2nd line\n3rd line\n'

In [167]:
myfile.seek(0)

0

In [168]:
myfile.read()

'Hello this is a text file\n2nd line\n3rd line\n'

In [169]:
myfile.seek(0)

0

In [170]:
myfile.readlines()

['Hello this is a text file\n', '2nd line\n', '3rd line\n']

In [171]:
myfile.close()

mode = r means read only, w means write only, r+ = writing and reading, w+ = overwrite existing or create new file

In [183]:
with open('myfile.txt', mode ='w') as my_new_file:
    contents = my_new_file.read()

UnsupportedOperation: not readable

In [184]:
with open('myfile.txt', mode ='a') as f:
   f.write('forth line')

In [185]:
with open('myfile.txt', mode ='r') as f:
    print(f.read())

forth line

In [187]:
20>20

False

In [188]:
6<7

True

In [1]:
1< 2 and 2>3

False

In [4]:
'h' == 'a' and 2 == 2

False

usable codes 'and', 'or', 'not'

if condition a: do something

elif another condition: do another

else condition: do something

In [15]:
if True: print("It's True!")

It's True!

In [16]:
hungry = False

if hungry == True:
    print("Feed me")
else:
    print("Dont feed me")

Dont feed me

In [17]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [21]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [24]:
for num in mylist:
    #check for even 
    if num % 2 == 0:
        print(num)
    else: 
        print(f'Oddnumber: {num}')

Oddnumber: 1
2
Oddnumber: 3
4
Oddnumber: 5
6
Oddnumber: 7
8
Oddnumber: 9
10

In [26]:
list_sum = 0 
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [27]:
'hello world'

for letter in 'hello world':
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [28]:
tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [31]:
mylist = [(1,2), (3,4), (5,6), (7,8)]
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [33]:
len(mylist)

4

In [38]:
d= {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [45]:
d= {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
   print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [55]:
x = 0

while x < 5:
    print(f'The current value of x is {x}.')
    x += 1

else: 
    print(f'value of x is {x}.')

The current value of x is 0.
The current value of x is 1.
The current value of x is 2.
The current value of x is 3.
The current value of x is 4.
value of x is 5.

'pass' keyword allows you to leave a code done halfway and the code can still run, does nothing at all in otherwords 

'continue' goes to the top of the closest enclosing loop

'break' breaks out of the current closest enclosing loop

In [65]:
x = [1,2,3]

for value in x: 
    #i wanna skip this part first so i use pass
    pass

#and imma do something somewhere else in my script and my script can still run perfectly

print(" done my script")

 done my script

In [66]:
mystring = 'sammy'

for letter in mystring:
    if letter == 'm':
        break
    print (letter)
#stops at the letter and prints out all letters before 'm'

s
a

In [67]:
mystring = 'sammy'

for letter in mystring:
    if letter == 'm':
        continue
    print (letter)
#skips the letter 'm' and prints the other letters

s
a
y

In [68]:
mylist = [1,2,3]

for num in range(2,10):
    #prints out number from 2 to before 10, using the code 'range'
    print(num)

2
3
4
5
6
7
8
9

In [71]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [75]:
#zip list together

mylist1 = [1,2,3]
mylist2 = ['a', 'b', 'c']
mylist3 = [ 100, 200, 300]

In [76]:
for item in zip (mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [77]:
'x' in [1,2,3]

False

In [78]:
'x' in ['x', 'y', 'z']

True

In [79]:
d = {'mykeys': 345}

345 in d.values()

True

In [80]:
from random import shuffle

In [81]:
mylist = [3,4,5,6,7,8,9]

In [82]:
shuffle(mylist)

In [84]:
mylist

[4, 8, 5, 6, 3, 7, 9]

In [85]:
from random import randint

In [86]:
randint(0, 100)

51

In [88]:
result = input('Enter number here: ')

Enter number here: 1

In [91]:
result
#input comes in as a string so we have to convert if we want it in integers

'1'

In [92]:
int(result)

1

In [3]:
mystring = 'hello'

In [6]:
mylist=[]

for letter in mystring: 
    mylist.append(letter)

In [7]:
mylist

['h', 'e', 'l', 'l', 'o']

In [11]:
mylist = [letter for letter in mystring]

In [12]:
mylist

['h', 'e', 'l', 'l', 'o']

for loop; element for element in something you created

In [13]:
mylist = [ x for x in 'word']

In [14]:
mylist

['w', 'o', 'r', 'd']

In [18]:
mylist = [num**2 for num in range(0,11)]

In [19]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [24]:
mylist

[0, 4, 16, 36, 64, 100]

In [28]:
results = [x for x in range(0,11)]

In [29]:
results

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
mylist = [] 
for x in [2,4,6]:
    for y in [1, 10, 20]:
        mylist.append(x*y)

In [33]:
mylist

[2, 20, 40, 4, 40, 80, 6, 60, 120]

.pop() extracts the last num in ur list

In [ ]:
mylist.insert